body {
    margin: 0;
    background: #0000;   
    color: #ffffff;
    padding: 0;
}


.bg-black {
    background: transparent;
    text-align: center;
    position: relative;
}

/* estrelinha */
.stars {
    display: inline-block;
    margin-top: 6px;
}

.star {
    font-size: 26px;
    color: #777;
    transition: color .3s ease, transform .3s ease;
    cursor: pointer;
}

.star:hover,
.star.filled {
    color: gold;
    transform: scale(1.15);
}


.navbar .nav-link {
    color: #fff !important;  
    transition: .3s ease-in-out;
}

.navbar .nav-link:hover {
    color: #4da6ff !important;
    transform: translateY(-2px);
}

.card {
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: #ffffff;
    backdrop-filter: blur(6px);
    border-radius: 18px;
    animation: slideUp .8s ease;
    box-shadow: 0 0 25px rgba(0, 153, 255, 0.2);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid #4da6ff;
    color: #ffffff;
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    border-color: #66c2ff;
    box-shadow: 0 0 8px rgba(77, 166, 255, .7);
}

label, h2.card-title {
    color: #ffffff;
}

.btn {
    padding: 10px 18px;
    border-radius: 20px !important;
    font-weight: 700;
    color: #ffffff !important;
    background: linear-gradient(to right, #000, #173c47, #3b86b8);
    transition: .4s ease-in-out;
    border: none;
}

.btn:hover {
    background: linear-gradient(90deg, #5facff, #185366);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(90, 180, 255, 0.9);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: #000000;
    }
    100% {
        opacity: 1;
        background-color: #000000;
    }
}

@keyframes slideUp {
    0% {opacity: 0; transform: translateY(30px); filter: brightness(0);}
    100% {opacity: 1; transform: translateY(0); filter: brightness(1);}
}

