body {
    margin: 0;
    background: #0000;   
    color: #000000;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bg-black {
    background: transparent ;
    text-align: center;
    position: relative;
}

/* estrelinha */
.stars {
    display: inline-block;
    margin-top: 4px;
}

.star {
    font-size: 26px;
    color: #ccc;
}

.star.filled {
    color: gold;
}

.navbar .nav-link {
    color: rgb(255, 255, 255) !important;  
}

.navbar .nav-link.active {
    color: rgb(255, 255, 255) !important;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: #ffffff;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border-color: #4da6ff;
    box-shadow: none;
}

label {
    color: #ffffff;
}

h2.card-title {
    color: #ffffff;
}

.btn {
    padding: 8px 16px;
    border-radius: 20px !important;
    font-weight: 600;
    color: #ffffff !important;
    background: linear-gradient(to right, #000000, #173c47, #3b86b8);
}
